[2017-03-15 17:29] rdelriods01 opened #1 "How to use in modals"
Hi mezoistvan,

I'm trying to use your code in my application, and it works well when I put it in any component view, but when I put inside a dialog it doesn't work, Am I missing something?  I'm using angular-material for dialogs.

UPDATE..

I already know the problem... when I inspected the view with chrome, I realized that material-dialog creates a div with class="cdk-overlay-containe", with z-i

[2017-03-16 09:43] mezoistvan commented on #1
Hi!
Thanks for the remark. Flatpickr is able to append to different HTMLElements, not just the body. https://chmln.github.io/flatpickr/options/ Passing the config file as an @Input() should solve this issue. I will work on this shortly.

[2017-03-16 13:07] #1 closed

[2017-03-19 13:26] superstarmcawesome opened #2 "this is great!"
Hey there! Really nice! love it.
Is it possible to add weeks?
Maybe also to have a timepicker included?
And maybe have a date-range-picker?

thanks!

[2017-03-19 18:41] mezoistvan commented on #2
Hi! Cool, I'm happy to hear that. :)

Weeks can be shown with `weekNumber: true` in the `config` input. Timepicker and date-range picker can be configured in the same way, with: `enableTime: true`, and `mode: 'range'`.

Check out https://chmln.github.io/flatpickr/options/ for all the options. Flatpickr is really flexible and this FlatpickrOptions object allows you to configure flatpickr in fine de

[2017-03-22 07:40] bonaparte89 opened #3 "systemjs"
hey there.
I had an issue getting it to work with system js. I had to change the import in ng2-flatpicker.component.js
import * as flatpickr from 'flatpickr/dist/flatpickr';
//require('flatpickr');

it would also be great to have a module which you can import and not declare it in ngmodules.
if you need any help let me know 👍

[2017-03-22 18:38] rafaelgoulart opened #4 "Set a date programmatically"
Hi! Nice work here!

One question: how do I programmatically set a date to update the input value?

Thank you

[2017-03-23 07:00] mezoistvan commented on #4
Hi, thanks! 👍 Initially I thought that it can be done using the FlatpickrOptions, but that is not the case unfortunately. I'll look into it later this week.

[2017-03-23 07:01] mezoistvan commented on #3
Hi! I haven't tried it with system.js yet, but will investigate later this week. Feel free to create a PR though!

[2017-03-28 04:43] pjhartin opened #5 "formControlName not working"
Firstly, thank you for porting flatpickr to ng2.

Today, we tried to hookup the `ng2-flatpickr` component using the following sytnax:

`<ng2-flatpickr formControlName="campaign_end_date"></ng2-flatpickr>`

I know 100% that our formControlName is initialised and setup correctly, due to testing with other components, but no matter what I try, I cannot seem to get the value out of the flatpickr compo

[2017-03-28 13:09] mezoistvan commented on #5
Hi!
In my opinion, that should be enough. Are there any error messages? Could you please share more of your component?

[2017-04-02 01:40] rob-balfre commented on #5
Yeah, I've got the same issues as @pjhartin. No errors, just can't access the value. I'm following this guide on the official docs for creating dynamic forms, all my other field types are working and return their values. https://angular.io/docs/ts/latest/cookbook/dynamic-form.html

Do you have some source code for a working example?

[2017-04-02 09:51] mezoistvan commented on #5
Indeed there was a bug in 0.1.8. It is fixed in 0.1.9, and there is a working example at [https://mezoistvan.github.io/ng2-flatpickr-examples/](https://mezoistvan.github.io/ng2-flatpickr-examples/).

[2017-04-02 10:06] mezoistvan commented on #5
Oops, didnt mean to close it. If its working fine, I'll close it for real in a few days.

There is a new repo for the development of the examples, if you are interested in the actual implementation. [https://github.com/mezoistvan/ng2-flatpickr-examples-dev](https://github.com/mezoistvan/ng2-flatpickr-examples-dev)

[2017-04-02 10:07] mezoistvan commented on #2
There is a new repo for the implementation of the examples. [https://github.com/mezoistvan/ng2-flatpickr-examples-dev](https://github.com/mezoistvan/ng2-flatpickr-examples-dev) They are not linked yet, but soon will be. Check out the configuration there!

[2017-04-02 10:07] #2 closed

[2017-04-03 08:06] rob-balfre commented on #5
Thanks @mezoistvan.  I hadn't built my own form component wrapper yet so dived in a built one myself, seems to be working well. Source code looks similar to yours.  Heres the gist... https://gist.github.com/rob-balfre/d1ef9e92a262e5816737ae64b5bbe868

[2017-04-03 14:28] mezoistvan commented on #4
v0.1.13 now has this functionality. check out the [readme ](https://github.com/mezoistvan/ng2-flatpickr/blob/master/README.md)and the [examples](https://mezoistvan.github.io/ng2-flatpickr-examples/)

[2017-04-03 14:28] #4 closed

[2017-04-03 14:34] mezoistvan commented on #5
Yep, looks good! The line `onChange: (date) => this.propagateChange(date[0] || '')` makes it unusable for date-range picking as far as I know. But providing the date itself and not the whole array is a good idea!

[2017-04-06 12:05] mezoistvan commented on #5
I finally moved the examples -dev  to its right place https://github.com/mezoistvan/ng2-flatpickr-examples You can find the examples there. Closing this for now.

[2017-04-06 12:05] #5 closed

[2017-05-13 07:42] qingxo opened #6 "locale problem"
Hi,i just want to change the default language.there is a way?

[2017-05-14 14:32] mezoistvan commented on #6
Hi! Sure, I'll create an input for it if that's ok!

[2017-07-09 05:18] pjhartin commented on #5
Thanks @mezoistvan !

[2017-07-10 14:45] qingxo opened #7 "what's the mean of 'formControlName'?"
how to understand of the ng2-flatpickr's element ,called 'formControlName'!
Can you show a case?

[2017-07-10 18:55] mezoistvan commented on #7
`formControlName` is not a special thing to this component, it's from reactive forms in angular. See the [official docs](https://angular.io/guide/reactive-forms) for more info.

[2017-07-10 18:55] #7 closed

[2017-07-11 14:54] rip3rs commented on #6
I did add the locale to the config opts, but I was not able to push a branch ^^

[2017-07-12 06:02] mezoistvan commented on #6
#9 solved this in version 0.1.15, thank you!

[2017-07-12 06:02] #6 closed

[2017-07-14 02:35] dohpaz42 opened #10 "Request for a directive"
It would be nice if this package could also be provided with a directive so that we can use our own markup and not just the markup of the component.

Thank you!

[2017-07-15 01:30] dohpaz42 commented on #10
I am going to attempt to write the directive, and then make a PR. One question I would like your help with is how do you go about compiling the project so that you get the js and js.map files?

[2017-07-15 19:28] mezoistvan commented on #10
Thanks, that would be a huge help! :) I just run the prepublish script `npm run prepublish` or `tsc`. Then `npm publish` manually.

[2017-07-20 00:36] #10 closed

[2017-07-26 13:44] ahmed-anas opened #12 "Bug - if you have flatpickr and specific options defined, it does not give preference to the specific option"
[code]

it should be `this[localName]` and not `this[option]`

[2017-07-27 06:32] #12 closed

[2017-07-30 10:45] azulay7 opened #16 "No provider for NgControl"
Unhandled Promise rejection: Template parse errors:
No provider for NgControl ("
  </div>

    [ERROR ->]<ng2-flatpickr [config]="exampleOptions" formControlName="formControlName"></ng2-flatpickr>

  </di"): GeoSearchComponent@39:4 ; Zone: <root> ; Task: Promise.then ; Value: Error: Template parse errors:
No provider for NgControl ("
  </div>

    [ERROR ->]<ng2-flatpickr [config]="exampleOptions"

[2017-07-30 10:57] #16 closed

[2017-07-30 11:44] azulay7 opened #17 "ngModel"
is there a way to define ngModel to time picker?

[2017-07-30 14:44] azulay7 opened #18 "how to adjust input width?"
is it by config?

[2017-08-01 20:00] mezoistvan commented on #18
I think it's going to work fine with css, check the [examples repo](https://github.com/mezoistvan/ng2-flatpickr-examples) for examples!

[2017-08-01 20:01] mezoistvan commented on #17
As far as I know, no :( It would be a welcome addition though!

[2017-08-07 15:53] rujorgensen opened #19 "Production builds"
Hi,

I just moved to the production phase on a large project and I am getting this error when building my project with the "--prod"-switch on. Like this: "ng build --prod".

"**ERROR in Unexpected value 'Ng2FlatpickrComponent in C:/Users/rj/Documents/Workspace/PROJECT_NAME/node_modules/ng2-flatpickr/src/ng2-flatpickr.component.d.ts' declared by the module 'AppModule in C:/Users/rj/Documents/Worksp

[2017-08-19 15:05] indemi commented on #19
I have the same problem

[2017-08-19 15:29] rujorgensen commented on #19
Hi Indemi,

Thanks for commenting. I switched to the ngx-flatpickr flatpickr wrapper and everything is fine now. Apologies to the author for abandoning this otherwise fine component, but I had a project that could not be delayed :).

Will unsubscribe.

[2017-08-31 11:39] qingxo opened #20 "angular aot build error"
when i run "node_modules/.bin/ngc -p tsconfig-aot.json"  ,it not work right ,it show info below

Unexpected value 'Ng2FlatpickrComponent in /Users/karas/projects/smart-raise/node_modules/ng2-flatpickr/src/ng2-flatpickr.component.d.ts' declared by the module 'HomeModule in /Users/karas/projects/smart-raise/src/app/home/home.module.ts'. Please add a @Pipe/@Directive/@Component annotation.

How to so

[2017-09-07 14:30] #18 closed

[2017-09-14 20:37] jcope commented on #19
Anyone able to make any progress on this item? It is syntax or structural? Ionic version# related?
 `@ionic/cli-utils  : 1.8.1
   ionic (Ionic CLI) : 3.8.1`

Could the problem be in the declaration of the component in ng2-flatpickr.component.d.js?
`    Ng2FlatpickrComponent = Ng2FlatpickrComponent_1 = __decorate([
    Component({
    selector: 'ng2-flatpickr',`
??

[2017-09-19 11:53] niravpatel9898 commented on #3
Having a system.js here would be very helpful.

[2017-09-23 20:17] chuloon opened #21 "Syntax Error in IE11 and below."
Hello,

I'm getting a syntax error on your plugin in IE11 in both my app and your examples, and can reproduce across multiple machines. Is this a known issue? If so, is there a hotfix either you or I can do to make it work?

[2017-09-24 23:09] mezoistvan commented on #21
Hi!
The examples does not have the ES6 polyfills for IE11, that's for sure.
If your project works fine without this component, then a fix would be very much appreciated.

[2017-09-24 23:10] mezoistvan commented on #3
I am not working on this issue, but I'd merge a fix in a heartbeat! :)

[2017-09-24 23:11] #17 closed

[2017-09-24 23:12] mezoistvan commented on #20
Duplicate of #19, closing

[2017-09-24 23:12] #20 closed

[2017-09-25 13:50] chuloon commented on #21
I tried adding the ES6 polyfills by Babel and it didn't do the trick. Do you have suggestions on a specific polyfill that will work?

[2017-09-25 15:06] mezoistvan commented on #21
Creating a new project with the cli will generate polyfills that just need to be uncommented. Have you tried those? Here they are in the examples repo: https://github.com/mezoistvan/ng2-flatpickr-examples/blob/master/src/polyfills.ts

[2017-09-25 19:45] chuloon commented on #21
Yeah, all of them are uncommented from other plug-ins we're using.

[2017-09-27 08:33] mezoistvan commented on #21
:( You can work on this if you'd like, I don't think I'll have the time in the near future

[2017-10-02 15:11] zupa94 opened #22 "how to get formatted date"
Hi, I have
`public exampleOptions: FlatpickrOptions = {
    enableTime: true,
    dateFormat: 'd.m.Y H:i',
  };`

and my HTML code looks like :
`<ng2-flatpickr [config]="exampleOptions" [(ngModel)]="dateTime"></ng2-flatpickr>`

but I get object instead of a string. something like : `[Wed Oct 04 2017 12:00:00 GMT+0200 (Central European Daylight Time)]`.

How can I get formatted date string instead,

[2017-10-03 11:56] #22 closed

[2017-10-04 09:02] zupa94 opened #23 "Confirm date"
Is there any way how can I implement confirm date? Maybe a plugin or something like that?

[2017-10-04 09:04] #23 closed

[2017-10-16 12:27] jomy-joseph commented on #4
how to clear date field once form submited?

[2017-10-26 22:10] jorge-indigo commented on #19
Any solution for this? I couldn't use ngx-flatpickr wrapper as @rujorgensen suggested because it fails too.

[2017-10-27 15:52] LordAlastair opened #25 "Open the calendar by clicking another html element"
Is there a way to call the flatpickr calendar by clicking a button and insert the selected date into another input field? Something like:
![image](https://user-images.githubusercontent.com/6444470/32112920-69e75330-bb1d-11e7-8587-4af3494d554b.png)

I tried the code below but without success:
[code]

[2017-10-30 14:44] jcope commented on #19
No, still haven't been able to do a production build with this ng2-flatpickr. My solution? Stop using production builds. Let me know if you come up with a better/appropriate solution!

[2017-11-03 06:21] voznik commented on #19
looks like someone fixed this **annoying bug** in his fork: https://github.com/utahhealthcare/ng2-flatpickr/commit/22f80aa6bc40cc57a41b97cc8eaadf84fecdb912

[2017-11-03 19:03] mezoistvan commented on #19
@voznik I think you meant #21 but hey, thats still solved!

[2017-11-03 19:04] mezoistvan commented on #21
version 0.4.0 is out. It uses flatpickr v4.0.6, and has this issue fixed!

[2017-11-03 19:04] #21 closed

[2017-11-27 10:25] saitt0055 opened #26 "Fearture Request: Displaying multiple Months in calendar grid"

[2017-12-13 09:35] kgupta1988 commented on #4
Getting Error
`LookupReservationComponent.html:1 ERROR TypeError: Cannot read property 'setDate' of undefined
    at Ng2FlatpickrComponent.setDateFromInput (ng2-flatpickr.component.js?7662:39)
    at Ng2FlatpickrComponent.ngOnChanges (ng2-flatpickr.component.js?7662:52)
    at checkAndUpdateDirectiveInline (core.js?223c:12092)
    at checkAndUpdateNodeInline (core.js?223c:13598)
    at checkAndUpd

[2017-12-13 09:39] kgupta1988 commented on #4
Here _flatpickr is undefined.
`setDateFromInput( date: any ) {
		this.flatpickrElement.nativeElement._flatpickr.setDate( date, true );
	}`

[2018-01-05 15:36] Arpanx opened #27 "two copies of ng2-flatpickr on one template"
Here is a code when the component is first displayed, thinks for a long time, pours errors into the console. Then in 3-5 seconds there are calendars.
when [setDate] = "xxxx" in one instance, then everything is fine.
In two copies of the delay and error
I write so thoughts in the ear
[code]
 ngOnInit() {
        this.DateStart = new Date(this.item.timeStart.substr(0, 10));
        this.DateEnd = ne

[2018-01-16 16:03] laurensvanpoucke commented on #19
Any updates on this one ?

[2018-01-24 19:38] mezoistvan commented on #19
Version 1.5.1 is out with this solved. Check the readme for the new way to import the component. Huge thanks to @linktohack for the PR!

[2018-01-24 19:38] #19 closed

[2018-02-08 14:44] Nik1990 opened #29 "inline mode"
It is possible to use inline mode?
I tried but seem to receive an error:

`Failed to execute 'insertBefore' on 'Node': The node before which the new node is to be inserted is not a child of this node.`

Thanks

[2018-02-08 20:42] brejw commented on #29
Hello,
I had same problem but i managed to solve it.
I found explanation for this problem on StackOverflow https://stackoverflow.com/questions/9128015/getting-cannot-read-property-nodetype-of-null-when-calling-ko-applybindings

Then I applied config in ngOnInit, where you have to bind our calendar do HTMLElement
`this.pickerConfig = {
      ...
      appendTo: document.getElementById('ID'),

[2018-02-09 11:15] Nik1990 commented on #29
Ok it works :dagger:

Thanks

[2018-02-09 11:15] #29 closed

[2018-02-09 11:16] Nik1990 opened #30 "ngModel bind value range mode"
How can i get the range value (both 2 date) when i use range mode?

Thanks

[2018-02-19 16:53] #3 closed

[2018-02-19 16:55] mezoistvan commented on #26
This request should be in the flatpickr repository. This is a wrapper of that library.

[2018-02-19 16:55] #26 closed

[2018-02-24 18:41] cpru2 commented on #25
I second this — I've tried the above — I've also tried using the wrap option to extend my framework, but this seems to overwrite both flatpickr's built-in styles and options.

[2018-02-26 15:46] mezoistvan commented on #25
I am not exactly sure what you're trying to accomplish here: to have a datepicker field and have a separate button that opens the calendar in the datepicker field?

[2018-03-01 13:37] LordAlastair commented on #25
Unfortunately the flatpickr breaks the application's UI and the client did not like it ☹
I tried to override the flatpickr tags, but without success = /

[2018-03-01 23:51] cpru2 commented on #25
@LordAlastair flatpickr seems to be grabbing styles from the default DOM input selector. You could change this in your project's css or scss file, or in the flatpickr stylesheet itself, but this only works about 50% of the time. The other 50% it will break the application's UI. Also not best practice and annoying if you intend on using inputs anywhere else in your project.

[2018-03-05 04:19] manar-mk commented on #4
@kgupta1988 Hi. Did you solve that error?

[2018-03-05 06:27] kgupta1988 commented on #4
@manar-mk I used something like this
`dateOptions: FlatpickrOptions = {
    defaultDate: '',
    allowInput: true,
    dateFormat: 'm-d-y'
  };
this.dateOptions.defaultDate = formVal.arrDate
`

[2018-03-05 09:34] GonzaloChacon commented on #25
Hey guys, I've solved this like so:

1st - Create a template variable

     <ng2-flatpickr
       [config]="datepickerOptions"
       #datepicker>
     </ng2-flatpickr>

     <a (click)="toggle()">Something</a>

2nd - Implement ViewChild in controller to access #datepicker instance, you can access to "flatpickr" and its methods, including toggle, open, etc...

<pre>
<code>
import { Component, View

[2018-03-21 18:07] FedC opened #32 "Can it work with @angular/common@^4.2.4"
Currently my Angular setup is running @angular/common@^4.2.4 in order to serve up a server-side angular app with angular Universal.

[code]

When building this project:

[code]

[2018-04-04 11:10] rickvandermey opened #33 "How to update locale on Locale change"
Using redux and change locale should update all the labels etc.
Only thing that isn't updated is the flatpickr config while it is changed in the ngonchange.
Any ideas?

[2018-04-05 18:04] KolbySisk opened #34 "Weekdays aren't being styled properly"
#I followed the README to get started, everything is default.

`<ng2-flatpickr></ng2-flatpickr>
`

I think the problem is caused by an unexpected container: `.flatpickr-weekdaycontainer`

The problem is fixed by adding styles to that container class:
[code]

![screen shot 2018-04-05 at 1 58 52 pm](https://user-images.githubusercontent.com/1395078/38383168-c10ee954-38d9-11e8-9788-051d6dad1635.png)

[2018-04-05 21:44] #25 closed

[2018-04-05 21:48] mezoistvan commented on #34
This is very interesting, as this wrapper should not modify the original flatpickr in any way. So far I haven't seen anything like this. Could you please post a reproduction so I can take a look?

[2018-04-05 21:50] mezoistvan commented on #33
Please post a reproduction of the issue so I can take a look - so far I have not encountered this problem.

[2018-04-05 21:55] mezoistvan commented on #32
I had no issues working with v4, please doublecheck your versions of the libraries.

[2018-04-05 21:55] #32 closed

[2018-04-05 21:56] mezoistvan commented on #27
Please post a reproduction and I'll take a look.

[2018-05-07 03:52] neko2me opened #35 "dynamicaly placeholder changing is not work with "altinput" mode"
sample code
https://codesandbox.io/s/yk87mmx9x

I am doing this now

[code]

[2018-05-11 11:27] kvikram1988 opened #36 "Can you update it to latest version of flatpickr"
Please update it to the latest version of flatpickr. Need few features which are in the latest one.

[2018-05-11 17:35] mezoistvan commented on #36
Sure. It will be up on Sunday!

[2018-05-14 15:06] #34 closed

[2018-05-14 15:36] mezoistvan commented on #36
Released v5.0.2 for RxJS 5 and v6.0.0 for RxJS 6 - both have the latest version of flatpickr.

[2018-05-14 15:36] #36 closed

[2018-05-14 17:09] Murazaki opened #38 "Incompatibility with AOT"
I was a little hasty a bit before. We might need to upgrade the packages to make it work with AOT.

Here's the error 👍
[code]

You should be able to update your packages like this :

[code]

I'm making a PR in parallel, but I think you might need to test it first.

[2018-05-14 17:46] mezoistvan commented on #38
Fixed in v6.0.1

[2018-05-14 17:46] #38 closed

[2018-05-16 04:10] KristopherWindsor commented on #32
Please reopen. The error happens when compiling AOT for Angular 4.

`Metadata version mismatch for module .../node_modules/ng2-flatpickr/node_modules/@angular/common/common.d.ts, found version 4, expected 3, resolving symbol Ng2FlatpickrModule in .../node_modules/ng2-flatpickr/ng2-flatpickr.d.ts, resolving symbol Ng2FlatpickrModule in .../node_modules/ng2-flatpickr/ng2-flatpickr.d.ts`

ng2-flatpic

[2018-05-16 04:31] KristopherWindsor opened #40 "library comes with a copy of @angular/common"
First I'll cover what I see, then why it's a problem.

When I `npm install ng2-flatpickr` I see that it comes with `node_modules/@angular/common`. This is strange because now I have:
* `<project path>/node_modules/@angular/common`
* `<project path>/node_modules/ng2-flatpickr/node_modules/@angular/common`

<img width="298" alt="screen shot 2018-05-15 at 9 19 59 pm" src="https://user-images.githubus

[2018-05-16 07:07] mezoistvan commented on #40
Thanks, I'll look into this. V1.5.x works with Angular v4, so please use that until this is closed.

[2018-05-16 09:04] mezoistvan commented on #40
Published 6.0.2 with no dependencies - flatpickr needs to be installed separately from now on. It compiles fine with Angular v6.

[2018-05-17 13:36] adrianoviana opened #41 "formControlName doesn't work."
here s my code:

dateOptions: FlatpickrOptions = {
    defaultDate: new Date(),
    locale: Pt.pt,
    dateFormat:'d/m/Y'
  };

myForm = formBuilder.group({
...
      dtaInicio    : [''],
      dtaFim    : [''],
    });
<ng2-flatpickr formControlName="dtaInicio" [config]="dateOptions" ></ng2-flatpickr>

myForm.value.dtaInicio and myForm.value.dtaFim comes always empty!

[2018-05-22 07:32] mezoistvan commented on #40
The problem is that from Angular v6 the metadata version changed. I'll build this package with Angular v4 and publish it as v4.0.0. This way people can use v4 of this with Angular4 and v6 with Angular6.

[2018-05-24 07:54] windischb opened #42 "Get Single Values"
Hi!

Is it possible to get single values instead of an Array?!

The Api to which i'll send the form value only excepts single values...

br

[2018-05-31 18:06] KolbySisk opened #43 "Adding classes to input"
Is there currently a way to add a class to the generated input?

I've tried the [flatpickr option altInputClass](https://flatpickr.js.org/options/) but that didn't work. Is this possible currently?

[2018-05-31 18:47] KolbySisk opened #44 "Handling flatpickr hooks"
Flatpickr documentation has a [page with hooks](https://flatpickr.js.org/events/#hooks)

In their example you can use onChange to get `selectedDates, dateStr, instance`

[code]

Is there a way to use these hooks? A way I can access `selectedDates, dateStr, instance`? Or should just rely on `input.value`?

Thanks

[2018-05-31 18:55] KolbySisk commented on #44
Figured out that you can pass an onChange function in the config object. Maybe a section could be added to the documentation dedicated to getting the selected values.

[2018-05-31 18:56] #44 closed

[2018-06-20 11:36] DmitrySobolevski opened #45 "Cannot read property 'setDate' of undefined"
Hi, there is a trouble in method setDateFromInput, on first method call  there is no `_flatpickr` property in `this.flatpickrElement.nativeElement`;

Template:
`                  <ng2-flatpickr [setDate]="mainOrder.controls.dateTime.value" [config]="dateTimePickerConfig"  formControlName="dateTime"></ng2-flatpickr>`

Error method:
` this.flatpickrElement.nativeElement._flatpickr.setDate(date, true

[2018-07-04 09:14] rdelriods01 commented on #44
Hi @KolbySisk could you explain how did you use the onChange function please? How can I set the `selectedDates` or the `dateStr` to a variable in my Component?

[2018-07-05 21:38] KolbySisk commented on #44
@rdelriods01 Just add a function to your config.

[code]

[2018-08-23 14:37] Amarinder1 opened #46 "IE9 compatibility?"
Hi,

I know that this is an angular wrapper for flatpickr, and many of the functions still exist in the angular 2 version. But I was wondering if this was also IE9 compatible like the original flatpickr is.

[2018-08-24 08:27] mezoistvan commented on #46
Hi,
If the Angular project is working in IE9, I don't see a reason why this would not work with it.

[2018-08-27 08:01] #40 closed

[2018-08-27 08:02] mezoistvan commented on #41
closed due to inactivity

[2018-08-27 08:02] #41 closed

[2018-08-27 08:02] mezoistvan commented on #45
closed due to inactivity

[2018-08-27 08:02] #45 closed

[2018-08-27 08:03] #42 closed

[2018-08-30 19:14] pjl1983 opened #47 "TypeError: this.flatpickrElement.nativeElement.flatpickr is not a function in prod build"
`ERROR { TypeError: this.flatpickrElement.nativeElement.flatpickr is not a function
     at Ng2FlatpickrComponent.ngAfterViewInit (/usr/src/project/node_modules/ng2-flatpickr/bundles/~/ng2-flatpickr/src/ng2-flatpickr.component.ts:58:56)
     at callProviderLifecycles (/usr/src/project/node_modules/packages/core/esm5/src/view/provider.js:591:9)
     at callElementProvidersLifecycles (/usr/src/proje

[2018-09-03 22:01] dockleryxk commented on #43
The inputs get the following classes: ng2-flatpickr-input flatpickr-input

Could you not work with that or use that to programmatically add the classes you need?

[2018-09-04 16:07] KolbySisk commented on #43
The architecture of the product I'm building requires me to add a class, similar to if I was using bootstrap. I guess I could use the class to programatically add it, but that's messy and not very future proof.

[2018-09-06 16:36] KolbySisk commented on #43
So in my case I need to add a class directly to the input. I'm using a lib similar to bootstrap, and it requires me to add the class directly to the input to get the proper styling.

[2018-09-06 21:37] ghiscoding commented on #43
Hello, I just started using the lib and I have the same problem too. I use Bootstrap 3 in our project and Bootstrap requires the class `form-control` and if I pass it to the component the resize happens on the wrapper instead of the actual input. I also tried like @KolbySisk mentioned with `[config]="{ altInputClass: 'form-control' }"` and/or like this `altInputClass="form-control"` but that didn'

[2018-09-13 13:19] dockleryxk commented on #43
@mezoistvan so would you just use the directive like this?

[code]

[2018-09-14 10:36] enko opened #48 "Setting an initial value with a formgroup yields no result"
I'm creating a `FormGroup` with a field `birthday` and want to hook it up with a `ng2-flatpickr` component. If I select a date the formgroup now has the correct value. If I try to set an initial value with `this.form.patchValue({ birthday: new Date() });` the flatpickr is empty. I would expect that the flatpickr shows the current date.

Here is my repro-repo: https://github.com/enko/ng2-flatpickr-

[2018-09-21 04:05] grubby14 opened #49 "locale to the options"
use locale options :
import Mandarin from 'flatpickr/dist/l10n/zh.js';
dateTimeOptions: FlatpickrOptions = {
        enableTime: true,
        locale: Mandarin.zh,
        onChange: (e) => {

        }
    }
ng build error:
ERROR in node_modules/flatpickr/dist/l10n/zh.d.ts(58,20): error TS1005: ';' expected.
node_modules/flatpickr/dist/l10n/zh.d.ts(58,21): error TS1003: Identifier expected.
node_m

[2018-10-02 16:21] mezoistvan commented on #47
Please provide a more detailed reproduction. Closing until then.

[2018-10-02 16:22] mezoistvan commented on #49
Please provide a more detailed reproduction of the issue. Closing until then.

[2018-10-02 16:22] #49 closed

[2018-10-07 13:43] Picktarget commented on #48
I just meet the same problem！！！

[2018-10-19 15:44] kogden commented on #16
Well don't leave us hanging, what was the solution?

[2018-10-20 12:40] azulay7 commented on #16
@kogden sorry dude I don't recall. try to check if import the module, or maybe yor angular version

[2018-10-26 22:36] ghiscoding commented on #41
I'm having this problem too, basically the issue is that setting the `defaultDate` with the `FlatpickrOptions` shows the value in the input but **does not** update the value in the Reactive Form Control itself. So on top of using the `defaultDate`, I also have to set it with the Reactive Form controls.

So if we take the example from original question
[code]
That works but it's a little confusing

[2018-11-25 08:32] ak0arjun opened #50 "On adding calendar in list, if list item is > 50 it the UI response time become very slow."
Hi,

I am using the calendar in a list. Now if the list items length goes to a big number like 30 50 UI start unresponsive.

This list item code:
 <span class="task-list-item-hover-calender">
      <ng2-flatpickr  [placeholder]="translateKey('DUE DATE')" [config]="calendarConfig"></ng2-flatpickr>
      <img src="assets/images/app/due_date.svg" class="icon" (click)="toggleCalendar()" [alt]="transla

[2019-01-05 12:08] darthvasya commented on #45
also my solution

[code]

[2019-01-08 08:31] AbuzerAsif commented on #43
@mezoistvan If you need help with this issue, then you can assign it to me. I am here to help...

[2019-01-08 10:10] mezoistvan commented on #43
@AbuzerAsif I'm not working on this, feel free to pick this up. Thank you!

[2019-01-08 13:29] magedhennawy opened #52 "Calendar range"
I don't believe we have support for data-date-picker-input-from and data-date-picker-input-to, which allows having two inputs far a range selection

[2019-01-14 14:48] KolbySisk commented on #43
Yeah that works great. You might want to allow for an array so multiple classes could be added.

[2019-01-14 17:41] dockleryxk commented on #43
@KolbySisk @AbuzerAsif you can always just add a space in between class names that you input :)

[2019-01-16 21:44] dockleryxk opened #53 "Need option to set tabindex of input element"
It would be great to be able to set the tabindex if needed. Currently, tabindex is always 0.

[2019-01-16 21:47] dockleryxk commented on #43
I need to add a tabindex to the input, so I submitted a PR and I made an addClass option while I was in there

[2019-01-16 21:51] AbuzerAsif commented on #43
@dockleryxk Thats nice...

[2019-01-18 10:02] Moeriki commented on #43
In light of the same issue could someone be so kind to provide a minimally working example of using the directive.

[2019-01-21 19:40] dockleryxk commented on #43
If anyone else is waiting for the PR like me, a workaround is as follows in your component:

[code]

[2019-01-21 19:41] dockleryxk commented on #53
If anyone else is waiting for the PR like me, a workaround is as follows in your component:

[code]

[2019-01-22 10:35] eelwayadmin commented on #45
Same error for me

[2019-01-29 21:58] #43 closed

[2019-01-29 21:58] #53 closed

[2019-01-29 22:38] mezoistvan commented on #43
Thank you for the input here, I've merged everything and released v7. Using a directive is easier than having a component with a hidden internal input, so please look into that as well. Thanks again, you are awesome! 💯

[2019-02-13 20:51] #52 closed

[2019-02-23 13:50] li-boxuan opened #57 "Bug - enable option should support function"
According to flatpickr documentation and code, `enable` can be an array of functions.

https://github.com/flatpickr/flatpickr/blob/7bd701c656d5946f10328f9ae874c0d80bd46f1b/src/types/options.ts#L9

However, ng2-flatpickr defines enable as an array of string/date.
https://github.com/mezoistvan/ng2-flatpickr/blob/9b519cc68c26741abd4443d21c76c6e58268bfc6/src/flatpickr-options.interface.d.ts#L12

[2019-02-23 13:53] li-boxuan commented on #57
For now, I use `// @ts-ignore` to ignore typescript error

[2019-03-28 23:30] putrasurya opened #59 "No value accessor for form control"
thanks. doesn't help

[2019-03-29 08:04] #59 closed

[2019-03-30 19:19] AbuzerAsif commented on #48
@mezoistvan If you need help with this issue, then you can assign it to me. I am here to help...

[2019-03-30 19:21] AbuzerAsif commented on #35
@mezoistvan If you need help with this issue, then you can assign it to me. I am here to help...

[2019-03-30 23:23] dockleryxk commented on #48
I had this issue, here is what I did to resolve it:

I attach it to an input like this:

[code]

Then in the component ngOnInit:

[code]

For some reason adding the default date after creating the object made it work for me. ¯\\_(ツ)_/¯
I don't know if it helps anyone else but I hope it does!

[2019-04-04 08:30] mezoistvan commented on #35
@AbuzerAsif I'm not working on the issue unless it is assigned to me, so feel free to work on it!

[2019-04-17 08:29] AbuzerAsif commented on #35
@mezoistvan Here is the PR for the above issue https://github.com/mezoistvan/ng2-flatpickr/pull/60

[2019-04-17 08:33] AbuzerAsif commented on #35
@mezoistvan During my testing i have also noticed the same issue happening for Ng2FlatpickrDirective as well.

Here is the PR for it https://github.com/mezoistvan/ng2-flatpickr/pull/61

[2019-04-17 21:49] mezoistvan commented on #35
Thank you so much! Released in v7.0.4 🎆

[2019-04-17 21:49] #35 closed

[2019-04-18 22:43] dockleryxk opened #63 "Error: Cannot find module 'ng2-flatpickr'"
On Angular 6 with AOT I get this error. I wish I could provide more details but I don't really know what is happening. The package is definitely installed! Reverting to 7.0.3 solves it for now.

[2019-04-22 14:02] jayvdb commented on #63
I have the same error, and also got it working by reverting to 7.0.3.

[2019-04-22 14:43] mezoistvan commented on #63
Oops! Just published v7.0.5, which should be ok. Sorry, it was definitely an error on my side.

[2019-04-22 14:43] #63 closed

[2019-05-19 06:08] youett commented on #45
Same error

[2019-05-23 18:09] cooljeffro commented on #16
Set the "name" property (instead of "formControlName") on the <ng2-flatpickr> element.

Documentation is not very clear on this point.

[2019-05-23 18:17] cooljeffro commented on #59
You can use the directive instead of the component. This will allow you to use [(ngModel)] on an `<input>`

Instead of:
`<ng2-flatpickr [(ngModel)]="date"></ng2-flatpickr>`

Use:
`<input flatpickr [(ngModel)]="date">`

[2019-05-29 19:21] eddiejaoude opened #64 "debug.log should not be committed"
Add to `.gitignore`

[code]

[2019-05-29 19:22] eddiejaoude opened #65 "dist.tgz file should not be committed"

[2019-05-29 19:23] eddiejaoude opened #66 "dist folder should not be committed"

[2019-05-29 19:31] mezoistvan commented on #65
Thanks, but I commit the dist on purpose, so the npm package's content can be verified

[2019-05-29 19:31] #65 closed

[2019-05-29 19:31] mezoistvan commented on #66
See #65

[2019-05-29 19:31] #66 closed

[2019-05-29 19:31] mezoistvan commented on #64
This is a good catch though, added, thanks! 👍

[2019-05-29 19:31] #64 closed

[2019-05-29 22:42] eddiejaoude commented on #64
cool 👍 . We were reviewing your project as part of our youtube live stream and someone contributes plus uses your project, wanted to contribute more and was looking for suggestions 🤓 ... here is the live stream https://www.youtube.com/watch?v=Aa5se-WebiE

[2019-05-30 08:49] mezoistvan commented on #64
Hehe nice! 👍 Neat idea, hope it catches on!

[2019-05-30 08:49] eddiejaoude commented on #64
Thank you 🤓

[2019-06-10 12:24] Ramon2000 opened #67 "build:ssr"
I build my code with:
`npm run build:ssr`

run the server:
`node dist/server.js`

and get the following error
[code]

As you can see, it links to ng2-flatpickr

My related files in package.json:
[code]

Anyone else having the same issue? After doing some research earlier, I more or less ended up here: https://angular.io/api/core/Renderer2#description

For serverside rendering, it seems you need to

[2019-06-11 06:26] Ramon2000 commented on #67
Upgraded to Angular8 and issue still exist.
Also checked, and saw you are already making use of renderer2
https://github.com/mezoistvan/ng2-flatpickr/blob/master/dist/src/ng2-flatpickr.directive.d.ts#L11

[2019-06-11 08:54] mezoistvan commented on #67
I will look into this this week. Flatpickr might try to access the document directly when it loads, but I'll make sure the ssr build does not fail.

[2019-06-12 11:53] canbax commented on #43
I tried that and it worked ;)

[2019-06-13 02:14] dockleryxk commented on #67
@mezoistvan it looks like the problem is that type HTMLElement doesn't exist on the server.

Even Angular types ElementRef.nativeElement as any instead of HTMLElement. I'll make a PR for this

[2019-06-13 02:16] dockleryxk commented on #67
@mezoistvan it looks like the problem is that type HTMLElement doesn't exist on the server.

Even Angular types ElementRef.nativeElement as any instead of HTMLElement. I'm not sure how this ever worked with server side rendering though, considering it's been using that typing quite a bit for a a while now.

[2019-06-13 02:25] Ramon2000 commented on #67
The build itself actually passes, it's when you try to run
` node dist/server.js`

[2019-06-17 10:05] Lonking1990 commented on #47
When I'm using this while developing, everything works fine, but when i compile the application as prod mode, i get the following error:

[code]

As far as I can debug, i get the error is being thrown in the ngAfterViewInit:

[code]

I don't know what changes between dev and prod mode to cause this error, or even if its related to the thread, but solving it would be great

[2019-06-18 11:46] SaschaSchwarze0 opened #68 "ERROR TypeError: "this.flatpickrElement is undefined" in ngOnChanges"
I am building an application that is based on Angular 8 and carbon-components-angular. Its DatePicker component (https://github.com/IBM/carbon-components-angular/blob/master/src/datepicker/datepicker.component.ts) uses ng2-flatpickr (at version 8.0.1). I am seeing the following error:

ERROR TypeError: "this.flatpickrElement is undefined"
    ngOnChanges ng2-flatpickr.js:50

The reason in my opini

[2019-06-20 08:00] canbax commented on #47
I got the same error. When I use "ng serve" to run my angular app, it runs fine but
When I get a production build and use "express" as a web server to run it I got error. The ınput field became a normal text input field

here the error message
main.0905212eca6f960e3404.js:1 ERROR TypeError: this.flatpickrElement.nativeElement.flatpickr is not a function
    at e.ngAfterViewInit (main.0905212eca6f9

[2019-06-20 10:41] ribbskott commented on #68
@SaschaSchwarze0 i forked the repo and tried your solution, i was experiencing the same thing and can confirm that setting the ViewChild static flag to true fixed it.

[2019-07-01 09:29] WimWidgets opened #70 "No value when only using time"
When using only the time picker with the calendar disabled inside a reactive form, the form value is always `null` after having selected a time.

Example:
https://stackblitz.com/edit/angular-ah7ccb

[2019-07-02 07:23] Ramon2000 commented on #68
Hello,

Any chance there is an ETA? I prefer not to fork if it gets updated soon.

Cheers

[2019-07-03 07:50] chaouiy opened #71 "cannot read property nativeElement of undefined after updating to ng2-flatpickr 8.0.1and angular to 8"
Error :
`EDatepickerComponent.html:1 ERROR TypeError: Cannot read property 'nativeElement' of undefined     at Ng2FlatpickrComponent.push../node_modules/ng2-flatpickr/fesm5/ng2-flatpickr.js.Ng2FlatpickrComponent.ngOnChanges (ng2-flatpickr.js:55)     at checkAndUpdateDirectiveInline (core.js:19337)     at checkAndUpdateNodeInline (core.js:27597)     at checkAndUpdateNode (core.js:27559)     at debu

[2019-07-03 07:54] chaouiy commented on #68
same probleme here

[2019-07-03 08:23] chaouiy commented on #68
someone merge the pull request, it is just about turning false to true

[2019-07-11 12:53] langebangen commented on #71
I have the same issue

[2019-07-12 10:31] AlexAegis commented on #71
Same issue

[2019-07-14 00:02] agroves333 commented on #68
Bump

[2019-07-15 09:30] kamihamiha123 commented on #68
@ribbskott how can one use your fork until pull request approval. it show` Cannot find module 'ng2-flatpickr'` it must be about build that is missing ?

[2019-07-15 10:12] kamihamiha123 commented on #71
same issue

[2019-07-17 11:08] kamihamiha123 opened #72 "Error: Cannot find module 'ng2-flatpickr' when forking ?"
I forked the repo to [fix this bug ](https://github.com/mezoistvan/ng2-flatpickr/issues/71).

When installing from the fork I get` Error: Cannot find module 'ng2-flatpickr'`

[2019-07-22 20:43] mezoistvan commented on #68
I apologize for the long wait, I was away and anywhere in the past weeks. Merged and released in v8.0.2

[2019-07-22 20:43] #68 closed

[2019-08-01 11:31] bvangennep commented on #47
Try adding an `import 'flatpickr'` to your project to solve this issue.
I suspect the flatpickr is optimized away in the production build process.

[2019-08-29 04:57] MHL-Galen opened #73 "defaultDate Option interface does not support 'multiple' or 'range' modes"
The FlatpickrOptions interface currently sets defaultDate type as ```string | Date```. For 'multiple' and 'range' type instances the default date needs to be an array of strings or dates - see [Flatpickr options](https://flatpickr.js.org/options/).

In my local instance I have changed the defaultDate interface to accept ```string | string[] | Date | Date[]``` and can confirm that it works with dat

[2019-09-19 13:55] m-abuseini commented on #67
is there any update on this issue?

[2019-10-06 09:12] #57 closed

[2019-10-06 09:14] #72 closed

[2019-10-06 09:17] mezoistvan commented on #73
The FlatpickrOptions interface is unnecessary, should be removed and replaced with the BaseOptions interface from flatpickr.

[2019-10-06 14:00] #67 closed

[2019-10-06 14:51] #47 closed

[2019-10-06 14:55] mezoistvan commented on #71
Is this still an issue? I haven't encountered it with v8.0.4 released today.

[2019-10-06 14:55] #71 closed

[2019-10-06 15:24] mezoistvan commented on #70
This is only an issue with the directive - the component works fine.

[2019-10-06 15:25] #27 closed

[2019-10-18 14:57] vmcbaptista opened #77 "Scope problem when using events exposed in Ng2FlatpickrDirective"
Hi. I'm trying to use the `@Outputs` exposed by the Ng2FlatpickrDirective, although these are not being triggered.

After analysis, I realized the error is due to flatpickrOnReady, flatpickrOnOpen... being undefined when eventOnChange, eventOnOpen... are called.

This seems to be a "this" scope problem, when this functions are invoked, the this refer to flatpickr context.

I believe this can be fi

[2019-10-24 18:44] #77 closed

[2020-01-24 05:02] Micheal-Prisila-Fernando opened #79 "Error while building"
ERROR in ./node_modules/ng2-flatpickr/fesm5/ng2-flatpickr.js
Module build failed (from ./node_modules/@angular-devkit/build-optimizer/src/build-optimizer/webpack-loader.js):
TypeError: Cannot read property 'kind' of undefined
    at isAngularDecoratorMetadataExpression (/home/aditya/Integra/flangetrak-app/node_modules/@angular-devkit/build-optimizer/src/transforms/scrub-file.js:265:35)
    at chec

[2020-02-08 17:52] mezoistvan commented on #79
Please check with the latest version, and resubmit this issue with the proper bug report. Thanks!

[2020-02-08 17:52] #79 closed

[2020-02-12 16:34] david-dasilva opened #80 "Need help getting a Date object with formControl"
Hi,

I have the same question as #22 : how to get a Date object, or the formated date string of the datepicker?

So far I have
[code]

and
[code]

but when I try to get the value with `this.userConf.get('endValidity').value` I get `[Wed Feb 12 2020 00:00:00 GMT+0100 (heure normale d’Europe centrale)]` where I would expect a Date objet or the string '2020-02-15' as specified in the dateFormat optio

[2020-02-13 10:33] david-dasilva commented on #80
Wait a minute. It seems I do have a date Object, but inside an array.
I've been fooled by the DevTools showing the ISO string of the Date object.
Why such array? Is it part of how flatpickr works?
In order to retrieve my Date object I have to do `this.userConf.get('endValidity').value[0]` which seems weird

[2020-02-13 13:11] david-dasilva opened #81 "class ng-touched not set if using AltInput"
**Describe the bug**
Hi,

I found an issue where some Angular's classes for form are not set up correctly on some cases :
If using AltInput, the `ng-touched` is not set on the datepicker when clicking, and even selecting a date.

**Expected behavior**
When I click on the datepicker, the css class `ng-touched` is set on the element, and the class `ng-untouched` should disapear.

**Reproduction**
He

[2020-02-16 20:31] mezoistvan commented on #80
That is part of how flatpickr works, as it provides the selected dates in an array. The `Ng2FlatpickrComponent` just pushes that value to the form using the `onChange` property of `FlatpickrOptions`. See: https://github.com/mezoistvan/ng2-flatpickr/blob/master/src/ng2-flatpickr.component.ts#L36

You can overwrite this by setting your custom `onChange` property in `FlatpickrOptions`. Something like

[2020-02-16 20:31] #80 closed

[2020-02-17 13:55] david-dasilva commented on #80
Thanks @mezoistvan for the input.
I knew I was missing something here :)

[2020-02-20 16:43] rmckeel commented on #48
@AbuzerAsif If you can fix it, would love to see this issue fixed!  Ran into this issue today and couldn't generate a proper fix to it (making reactive form patchValue work as intended) in the time budgeted for our project task.  So this is still a current/relevant bug.

[2020-02-21 13:16] mrsaravanan commented on #25
I am trying to open/close calendar from external trigger. i tried to follow same approach give by  GonzaloChacon but not seeing methods like open, close or toggle to access ..

line "this.datepicker.flatpickr.toggle();" throws compilation error as " property toggle does not exists on object"..

[2020-03-04 20:13] rlaurente commented on #79
Still having this error in version 9.

[2020-03-21 01:46] maljukan commented on #73
Yep, all fine by using `FlatpickrOptions`, except you must declare it as `Partial<FlatpickrOptions>` as `FlatpickrOptions` are all probably generated as required:
[code]

[2020-04-05 09:01] canbax opened #84 "hide the html"
**Describe the bug**
I want to hide the HTML. I make `<ng2-flatpickr hidden> </ng2-flatpickr>` . It works but when I click it to open, it shows at the top of the page. Not from where it is inserted.

![image](https://user-images.githubusercontent.com/8426741/78470835-10613700-7735-11ea-80ca-ed0967114581.png)

My problem is very similar to https://github.com/mezoistvan/ng2-flatpickr/issues/25 I jus

[2020-05-07 22:22] ahtesham-clcbws opened #85 "all dates start at Sunday"
**Describe the bug**
I am using ng2-flatpickr in angular9, when i select more-range, and showMonths-2, the dates are starting from sunday on all months.

i am using airbnb theme, but its not a theme issue, i already check with all theme in incognito mode.

MY CODE in ts file
	flatpickrOptions: FlatpickrOptions = {
		mode: 'range',
		minDate: 'today',
	};
MY CODE in html file
<ng2-flatpickr [config

[2020-05-17 21:33] harshbhardwajcsit opened #86 "The Highlighted selected Date in calendar did not changed, once default date is changed again"

[2020-06-08 13:22] naimmalek commented on #48
@dockleryxk

Thank you. its working.

[2020-07-30 12:24] andreidiaconescu opened #88 "Update documentation to describe the use of the directive [flatpickr]"
**Is your feature request related to a problem? Please describe.**
Please Update documentation to describe the use of the directive [flatpickr]

**Describe alternatives you've considered**
I have looked in the code and found that the directive exists, and used it. I needed a more flexible way to use the date picker, using my html, not the one of the component, so i ended up using the directive.

T

[2020-07-31 20:08] timrasche opened #89 "Angular10 support"
Please increase angular version

[2020-08-12 08:21] Miger88 opened #90 "Version dependencies"
Hi,

weeks before I have found a overview page which version of ng2-flatpickr is supporting which angular version.

I cannot find this information anymore. I tuink I have found this information weeks before on npmjs.com.

Can you please tell me a link to this information?

[2020-08-13 14:34] parthdevloper opened #91 "Inline date not showing in input"
component.html

`<ng2-flatpickr [config]="inlineDateOptions" name="formControlName"></ng2-flatpickr>`

component.ts
[code]

**ISSUE**: unable to get a date in the input filed.

![image](https://user-images.githubusercontent.com/58413215/90147538-efbe8300-dd9f-11ea-9938-605fc280d6ba.png)

Can anyone help ??

same issue on official JS GitHub page: https://github.com/flatpickr/flatpickr/issues/938

[2020-08-14 06:35] parthdevloper commented on #91
**Somehow solved by its own 👍 **

here is the code :

comp.html :

`<ng2-flatpickr [config]="inlineDateOptions" name="formControlName"></ng2-flatpickr>`

comp.ts :

[code]
Now it's working fine.

output :

![image](https://user-images.githubusercontent.com/58413215/90220768-74ec7b00-de26-11ea-9b89-f5a259b773d9.png)

[2020-08-14 12:19] parthdevloper commented on #89
+1

[2020-08-18 07:21] Jeremias-Nater opened #92 "Support HTML <label> "for" attribute by providing a inputId option"
Currently it is only possible to add an id to the input in the flatpicker component by querying elements in the dom. Since this should be avoided if possible, there should be an option to add an ID to the <input> Element, so that it can be referenced by a label with a for attribute.

[2020-11-29 01:40] Bitz commented on #89
+1

[2020-12-23 17:13] cpresler commented on #89
+1

[2021-01-15 16:16] alex-watson-securus opened #95 "Angular Production Build Issue"
**Describe the bug**
When using flatpickr as a dependency as part of our Angular project, a recent update to this module caused an error when trying to use the component. Forcing the version to an older versions resolves this, but throws an exception in the Chrome window after, and only after, compiling the angular project for 'Production' build rather than a development build.

**Reproduction**
W

[2021-02-28 22:08] bliny opened #96 "Plugin support"
Hello,

As far as I can tell this lib does not support plugins
https://flatpickr.js.org/plugins/

Am I wrong?
Are you planning to add this functionality to this libary?

Thank you

[2021-03-30 16:30] Josh-Kewley-BC opened #100 "Implement all events"
I'd like to be able to leverage [onDayCreate from flatpickr2](https://flatpickr.js.org/events/) which would require adding a hook in the config. If this is something you'd consider, you might also provide support for the other events which aren't currently wired up (onMonthChange, onYearChange, etc)
Thanks!

[2021-04-16 09:54] CrackerakiUA commented on #100
@Josh-Kewley-BC have you managed this event?

[2021-04-16 13:14] Josh-Kewley-BC commented on #100
Turns out it's available, just not present in the embedded typedef.

[code]

[2021-04-21 14:27] CrackerakiUA opened #101 "Methods of The flatpickr Instance"
**Is your feature request related to a problem? Please describe.**
Missing documentation of how to use Methods

**Describe the solution you'd like**
Fill code sample of how to use it

[2021-04-26 10:21] CrackerakiUA commented on #101
Looks like all I needed is inside `@ViewChild("datepicker", { static: false }) datepicker: any;` but documentation would be helpful :)

[2021-04-26 10:21] #101 closed

[2021-04-26 13:48] CrackerakiUA opened #102 "Angular Universal"
**Describe the bug**
javascript global variable is not available on node.js and used within core plugin.

**Reproduction**
just start new angular universal project and put flatpickr on the page

**Expected behavior**
no errors

[code]

[2021-04-26 13:51] CrackerakiUA commented on #102
Workaround is definitely to not show flatpickr on Angular Universal, feel free to close the issue, just wanted you to know about this.

[2021-05-27 07:05] kavinGurusamy opened #107 "ng2 flatpickr returns array"
Hi why did flatpickr sends array as input to server.  I am using it in angular  reactive forms when i submit a form it does not bind my formatting options and return output as array.

` exampleOptions: FlatpickrOptions = {
    allowInput: true,
    dateFormat: "Y-m-d G:i:S K",
    enableTime: true,
    altFormat: "Y-m-d G:i:S K",
    altInput: true,

    formatDate: (date: string) => {

      retu

[2021-07-02 06:54] abdulbasit1248 commented on #73
I found a fix for this. Basically, I was using two packages in my rails application. The problem is that the stimulus searches for the respective controller name. If we will not provide it gets confused as that which controller is targeting the data attributes.

[code]

[code]

[2021-07-08 12:07] ZhigalovD commented on #95
Hello! I have same problem! I want to know if you solved this problem?

[2021-08-23 06:21] raju10281 opened #112 "How to clear the selected date input in angular 11 ?"

[2021-12-18 14:07] canbax opened #113 "Encourage the library author"
Hi during `ng serve` I see the below warning. Just to let you know.

ng2-flatpickr [es2015/esm2015] (git+https://github.com/mezoistvan/ng2-flatpickr.git)
Encourage the library authors to publish an Ivy distribution.

[2021-12-29 06:39] ParulChak opened #114 "How to dynamically change time format from 12 hour to 24 hour or vice versa"
I am using the angular version of flatpicker. In this I want a functionality like changes the time format from 24h to 12 h or vice versa by using external  button of time format.

`.ts code configuration of flatpicker`
` ```
dateTimePicker: FlatpickrOptions = {
        altInput: true,
        altInputClass: 'flatPicker',
        enableTime: true,
        altFormat: 'M j, Y H:i',
        dateFormat

[2022-01-18 09:57] bjuergens commented on #89
+1

How have you solved this issue? Is there a good alternative package, where one could easily migrate to?

[2022-03-22 16:20] gopukinapp opened #116 "disabling the entire ng2-flatpickr field"
i couldin't disable the entire field of ng2-flatpickr i need to disable based on some condition now i can only disable some dates

[2022-05-22 20:18] IbrahimAyed1 commented on #107
I have the same issue when I used it as a FormControl in FormArray, but while using it in a FormGroup everything works fine

[2022-05-22 20:21] IbrahimAyed1 commented on #4
The same issue is still there because I'm facing it now and even using setDate reveals another issue in the console ( ExpressionChangedAfterItHasBeenCheckedError ), I wish they fix it

[2022-09-16 14:28] Jaserto commented on #91
any solution?

[2022-10-23 11:29] IbrahimAyed1 commented on #116
Still not solved, i wish they solve it !